.body {
  margin: 2.5% 7.5% 12.5% 7.5%;
  padding: 2.5%;

  display: flex;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: beige;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.content {
  flex-basis: 75%;
}

.widget {
  flex-basis: 25%;
  border: 1px solid black;
  
}

@media only screen and (min-width: 992px) {
  .content {
      margin-right: 2%;
  }
}

@media only screen and (max-width: 992px) {
  .body {
      flex-direction: column;
  }

  .content {
      margin-bottom: 2%;
  }
}