.navbar {
    background-color: #FAD02C;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
}

.container {
    height: 4rem;
}

.brand {
    color: black;
    font-size: 1.8rem;
    text-decoration: none;
    letter-spacing: 0.15rem;
}

.brand:hover {
    color: black;
}


.signButton {
    background-color: transparent;
    border: none;

}


@media only screen and (max-width: 768px) {
    .brand {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }


}